body {
	margin: 0;
	padding: 0;
	border: 0px solid black;
	background:#e1cdb4;
	font-family: 'Raleway', bold;
}


header {
	display: flex;
	justify-content: center;
}

header img {
	height: 400px;
	margin-top: 100px;
}


.img-container {
	width: 100vw;
	height: 50px;
	display: flex;
	justify-content: center;
	margin-top: 50px;
}


.img-container div {
	height: 50px;
	width: 50px;
	background: #60483e;
	border-radius: 100px;
	margin-left: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.foo > span {
	pointer-events: none;
}

.img-container div span{
	margin-bottom: 0px;
	text-align: center;
	font-size: 18px;

}

.img-container div:first-of-type {
	margin-left: 0px;
}


section {
	height: 40%;
	width: 100vw;
}


